
*{
    font-family: Arial, Helvetica, sans-serif;
    
}
.sup-container{
    width: 100%;
    height: 100vh;
    background-image: url("../azores-mountain-landscape-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}
.container{
    width: 70%;
    margin: auto;
    padding: 0;
    border-radius: 15px;
    overflow: hidden;
}
.title{
    
    width: 100%;
    background-color: black;
    text-align: center;
    color: blanchedalmond;
    padding: 0px;
    opacity: 0.6;
    
}
.title p{
    padding: 10px;
    font-size: 2rem;
    margin: 0;
}
.sub-container{
    display: flex;
    flex-wrap: wrap;

}
.sub-container p{
    margin: 0;
    padding: 15px;
}
.time-start-con{
    background-color: tan;
    opacity: 0.6;
    width: 50%;
    font-size: 25px;
    font-weight: bold;
    color: cornflowerblue;
    text-align: center;
    margin: 0;
}
#time-start-icon{
    color: green;
    
}#time-stop-icon{
    color: red;
    
}

#minute-icon{
    color: white;
    
}
#payment-icon{
    color: white;
    
}
.time-stop-con{
    background-color: powderblue;
    opacity: 0.6;
    width: 50%;
    font-size: 25px;
    font-weight: bold;
    color: cornflowerblue;
    text-align: center;
    margin: 0;
}
.minute-con{
    background-color: rosybrown;
    opacity: 0.6;
    width: 50%;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 0;
}
.price-con{
     background-color: aqua;
     opacity: 0.6;
    width: 50%;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 0;
}
#time-start{
    color: darkgreen;
}
#time-stop{
    color: red;
}
#minute{
    color: green;
}
#payment{
    color: green;
}
.con-button{
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content:  center;
}
#btn-start{
    width: 300px;
    padding: 3px;
    font-size: 25px;
    background-color: green;
    color: white;
    border-radius: 10px;
    border-style: solid;
    
}
#btn-stop{
    width: 300px;
    padding: 3px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.788);
    color: white;
    border-radius: 10px;
    border-style: solid;
    display: none;
}
#btn-clear{
    width: 300px;
    padding: 3px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(236, 202, 9);
    color: white;
    border-radius: 10px;
    border-style: solid;
    display: none;
}
.datetime{
    background-color: mediumpurple;
    opacity: 0.8;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    
}
.datetime p{
    padding: 15px;
    margin: 0;
}
